.color {
  color: white;
  font-size: 12px;
}

.container {
  height: 500px;
  overflow: auto;
}

.result_btn{
  margin-top: 10px !important;
  background-color: #1a4173 !important;
  width: 150px;
  color: #ffff !important;
  border: #ffff 2px solid !important;
}
